body{
    background-color: rgb(214, 214, 214); /*rgb(42, 218, 150)*/;
}
.title-container{
    margin-left: 5%;
    margin-right: 5%;
    padding: 4em;
    margin-top: 1em;
    background-color: rgb(42, 218, 150);
    text-align: center;
    border-radius: 1em;
}
.title{
    font-family: "Roboto", sans-serif;
    font-size: 3em;
    color:white;
}
.posted-by-container{
    margin-right: 5%;
    margin-left: 5%;
    background-color: rgb(42, 218, 150);
    margin-top:2em;
    padding: 2em;
    border-radius: 2em;
}
.posted-by-span{
    /*background-color: white;*/
    /*font-size: 2em;*/
    font-weight: bold;
    font-family: "DejaVu Sans Mono";
}
.content-container{
    /*background-color: red;*/
    margin-top: 1em;
    font-size: 2em;
    font-family: sans-serif;
}
.post-image{
    margin-left: 33%;
    width: 500px;
    height: 500px;
}
.edit-delete-section{

}
.edit-button{
    background-color: rgb(42, 218, 150);
    /*padding: 1px;*/
    color: black;
    margin-top:1em;
}
.delete-button{
    background-color: red;
    /*padding: 2px;*/
    margin-top:1em;
    color: white;
}
.comment-section{
    /*margin-top: 1em;*/
    /*padding: 1em;*/
    background-color: rgb(214, 214, 214);
    border-radius: 1em;
    text-align: center;
}
.all-comments-header{
    margin-top: 1em;
    font-weight: bold;
    font-size: 2em;
    font-family: "DejaVu Sans Mono";
}
.comments{
    /*background-color: red;*/
    text-align: left;
    margin-left: 2em;
}
.comment-container{
    background-color: rgb(42, 218, 150);
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
}
.commented-by{
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0;
}

.comment-main{
    font-size: 1.5em;
    /*font-weight: bold;*/
    font-family: "DejaVu Sans Mono";
}
.text-comment{
    width: 350px;
    height: 350px;
}
